.custom-nav {
  color: black !important;
  font-weight: bold;
  transition: font-size 0.1s ease-in-out;
}

.custom-nav:hover {
  font-size: 1.1rem;
}

.income-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.income-box {
  width: 450px;
  padding: 40px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

* {
  font-family: "popins";
}